# 1 Assignment 3

In [1]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [2]:
import os
import pandas as pd
import pyreadstat
os.getcwd()
# Define file paths
file_paths = [
    "../../_data/endes/2019/REC0111.sav",
    "../../_data/endes/2019/RE223132.sav",
    "../../_data/endes/2019/RE516171.sav"
]

In [3]:
# Task 1
rec_1_path, rec_2_path, rec_3_path = file_paths

# Read SPSS files and retrieve metadata
rec_1, meta_1 = pyreadstat.read_sav(rec_1_path)
rec_2, meta_2 = pyreadstat.read_sav(rec_2_path)
rec_3, meta_3 = pyreadstat.read_sav(rec_3_path)

# Display basic information about the datasets
print("Dataset 1:")
display(rec_1.head())

Dataset 1:

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.234450,2.0,7065.0
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.234450,0.0,7065.0
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.295611,2.0,7065.0
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.295611,2.0,7065.0
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,2.0,2.0,2.0,010101,3.0,154803.0,2.0,-0.256431,2.0,7065.0

In [4]:
print("\nDataset 2:")
display(rec_2.head())

Dataset 2:

,ID1,CASEID,V201,V202,V203,V204,V205,V206,V207,V208,...,V307_09,V307_10,V307_11,V307_12,V307_13,V307_14,V307_15,V307_16,QI302_05A,QI302_05B
0,2019.0,000100201 2,2.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,2.0
1,2019.0,000100201 3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019.0,000102801 2,3.0,1.0,2.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,2.0,1.0
3,2019.0,000102801 6,3.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0
4,2019.0,000104801 2,3.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [5]:
print("\nDataset 3:")
display(rec_3.head())

Dataset 3:

,ID1,CASEID,V501,V502,V503,V504,V505,V506,V507,V508,...,V743C,V743D,V743E,V743F,V744A,V744B,V744C,V744D,V744E,V746
0,2019.0,000100201 2,1.0,1.0,1.0,1.0,NaN,NaN,1.0,2008.0,...,1.0,2.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2019.0,000102801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2011.0,...,2.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0
2,2019.0,000102801 6,5.0,2.0,1.0,NaN,NaN,NaN,8.0,1984.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
3,2019.0,000104801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2009.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN
4,2019.0,000113601 2,2.0,1.0,2.0,1.0,NaN,NaN,12.0,2005.0,...,1.0,1.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,2.0

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter. Update the dictionary.**

In [6]:
# Task 2
# Selecting specified columns for each DataFrame
columns_rec1 = ["CASEID", "V000", "V001", "V002", "V003", "V004", "V007", "V008", "V009", "V010", "V011", "V012", "V024", "V102", "V120", "V121", "V122", "V123", "V124", "V125", "V127", "V133"]
columns_rec2 = ["CASEID", "V201", "V218", "V301", "V302", "V323", "V323A", "V325A", "V326", "V327", "V337", "V359", "V360", "V361", "V362", "V363", "V364", "V367", "V372", "V372A", "V375A", "V376", "V376A", "V379", "V380"]
columns_rec3 = ["CASEID", "V501", "V502", "V503", "V504", "V505", "V506", "V507", "V508", "V509", "V510", "V511", "V512", "V513", "V525", "V613", "V714", "V715"]

In [7]:
rec1_1 = rec_1[columns_rec1].copy()
rec2_1 = rec_2[columns_rec2].copy()
rec3_1 = rec_3[columns_rec3].copy()

In [8]:
# Update variable labels for each DataFrame
new_var_labels1 = {col: label for col, label in zip(columns_rec1, meta_1.column_names_to_labels)}
new_var_labels2 = {col: label for col, label in zip(columns_rec2, meta_2.column_names_to_labels)}
new_var_labels3 = {col: label for col, label in zip(columns_rec3, meta_3.column_names_to_labels)}

In [9]:
# Update value labels for each DataFrame
new_value_labels1 = {col: meta_1.variable_value_labels.get(col, {}) for col in columns_rec1}
new_value_labels2 = {col: meta_2.variable_value_labels.get(col, {}) for col in columns_rec2}
new_value_labels3 = {col: meta_3.variable_value_labels.get(col, {}) for col in columns_rec3}

In [10]:
# Display the selected columns for each DataFrame
print("rec1_1:")
display(rec1_1.head())
print("\nnew_var_labels1:")
display(new_var_labels1)
print("\nnew_value_labels1:")
display(new_value_labels1)

rec1_1:

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V024,V102,V120,V121,V122,V123,V124,V125,V127,V133
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,16.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,6.0
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,16.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,4.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,1.0

new_var_labels1:

{'CASEID': 'ID1',
 'V000': 'HHID',
 'V001': 'CASEID',
 'V002': 'V001',
 'V003': 'V002',
 'V004': 'V003',
 'V007': 'V004',
 'V008': 'V007',
 'V009': 'V008',
 'V010': 'V009',
 'V011': 'V010',
 'V012': 'V011',
 'V024': 'V012',
 'V102': 'V013',
 'V120': 'V014',
 'V121': 'V015',
 'V122': 'V017',
 'V123': 'V018',
 'V124': 'V019',
 'V125': 'V019A',
 'V127': 'V020',
 'V133': 'V021'}

new_value_labels1:

{'CASEID': {},
 'V000': {},
 'V001': {},
 'V002': {},
 'V003': {},
 'V004': {},
 'V007': {},
 'V008': {},
 'V009': {},
 'V010': {},
 'V011': {},
 'V012': {},
 'V024': {1.0: 'Amazonas',
  2.0: 'Ancash',
  3.0: 'Apurimac',
  4.0: 'Arequipa',
  5.0: 'Ayacucho',
  6.0: 'Cajamarca',
  7.0: 'Callao',
  8.0: 'Cusco',
  9.0: 'Huancavelica',
  10.0: ' Huanuco',
  11.0: ' Ica',
  12.0: ' Junin',
  13.0: ' La Libertad',
  14.0: ' Lambayeque',
  15.0: ' Lima',
  16.0: ' Loreto',
  17.0: ' Madre de Dios',
  18.0: ' Moquegua',
  19.0: ' Pasco',
  20.0: ' Piura',
  21.0: ' Puno',
  22.0: ' San Martin',
  23.0: ' Tacna',
  24.0: ' Tumbes',
  25.0: ' Ucayali'},
 'V102': {1.0: 'Urbano', 2.0: 'Rural'},
 'V120': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V121': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V122': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V123': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V124': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V125': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V127': {11.0: 'Tierra/arena',
  21.0: 'Madera (entablados)',
  31.0: 'Parquet o madera pulida',
  32.0: 'LÃ minas asfÃ¡lticas, vinÃ­licos o similares',
  33.0: 'Losetas, terrazos o similares',
  34.0: 'Cemento/ladrillo',
  96.0: 'Pona',
  97.0: 'Otro(pona)'},
 'V133': {97.0: 'Inconsistente'}}

In [11]:
print("\nrec2_1:")
display(rec2_1.head())
print("\nnew_var_labels2:")
display(new_var_labels2)
print("\nnew_value_labels2:")
display(new_value_labels2)

rec2_1:

,CASEID,V201,V218,V301,V302,V323,V323A,V325A,V326,V327,...,V363,V364,V367,V372,V372A,V375A,V376,V376A,V379,V380
0,000100201 2,2.0,2.0,0.0,3.0,NaN,NaN,NaN,22.0,5.0,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,000100201 3,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,3.0,3.0,0.0,3.0,NaN,NaN,NaN,15.0,1.0,...,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,000102801 6,3.0,3.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,23.0,24.0,NaN,NaN,NaN
4,000104801 2,3.0,3.0,0.0,3.0,NaN,NaN,NaN,13.0,1.0,...,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

new_var_labels2:

{'CASEID': 'ID1',
 'V201': 'CASEID',
 'V218': 'V201',
 'V301': 'V202',
 'V302': 'V203',
 'V323': 'V204',
 'V323A': 'V205',
 'V325A': 'V206',
 'V326': 'V207',
 'V327': 'V208',
 'V337': 'V209',
 'V359': 'V210',
 'V360': 'V211',
 'V361': 'V212',
 'V362': 'V213',
 'V363': 'V214',
 'V364': 'V215',
 'V367': 'V216',
 'V372': 'V217',
 'V372A': 'V218',
 'V375A': 'V219',
 'V376': 'V220',
 'V376A': 'V221',
 'V379': 'V222',
 'V380': 'V223'}

new_value_labels2:

{'CASEID': {},
 'V201': {},
 'V218': {},
 'V301': {0.0: 'No conoce ningÃºn mÃ©todo',
  1.0: 'Sabe sÃ³lo folklÃ³rico',
  2.0: 'SÃ³lo sabe trad. mes',
  3.0: 'Conoce el mÃ©todo moderno'},
 'V302': {0.0: 'Nunca usado',
  1.0: 'Otros metodos',
  2.0: 'Metodos tradicionales',
  3.0: 'Metodos modernos'},
 'V323': {1.0: 'Microginon',
  2.0: 'Nordet',
  3.0: 'Lofemenal',
  4.0: 'Gynera',
  5.0: 'Ciclomex',
  6.0: 'Triciclomex',
  7.0: 'Femiane',
  8.0: 'Mercilon',
  9.0: 'Marvelon',
  10.0: 'Lindiol-e',
  11.0: 'Dione 35',
  12.0: 'Cilest',
  13.0: 'Triquilar',
  14.0: 'Trinordiol',
  15.0: 'Minigynon',
  16.0: 'Exluton',
  17.0: 'Ovrette',
  18.0: 'Ovral',
  19.0: 'Mirelle',
  20.0: 'Yasmin Drospyperona',
  21.0: 'Peldura',
  22.0: 'Anuletyc',
  23.0: 'Rigevidon',
  24.0: 'Oral Con-F',
  25.0: 'Canesa',
  26.0: 'Belara',
  27.0: 'Tri_Regol',
  93.0: 'Sin marca (H. FF.AA., FF.PP)',
  94.0: 'Sin marca (ESSALUD)',
  95.0: 'Sin marca (MINSA)',
  96.0: 'Otro',
  98.0: 'No sabe'},
 'V323A': {1.0: 'OK',
  2.0: 'Piel',
  3.0: 'Royal',
  4.0: 'Jontex',
  5.0: 'Contempo',
  6.0: 'Gens',
  7.0: 'LifeStyle',
  8.0: 'Sultan',
  9.0: 'Durex',
  10.0: 'Preventor',
  11.0: 'Hanson plans',
  12.0: 'Sensitive',
  13.0: 'Play boy',
  14.0: 'Lubritec',
  15.0: 'Pantera',
  16.0: 'Tex',
  17.0: 'Seohung',
  18.0: 'Aladan corporation',
  19.0: 'Vladi',
  20.0: 'Stalion',
  21.0: 'Latex',
  22.0: 'Pussy Cat',
  23.0: 'SensaciÃ³n',
  24.0: 'Karex',
  25.0: 'Do it Loverly',
  26.0: 'Nonoxinol - 9',
  27.0: 'Famila 28',
  93.0: 'Sin marca (H. FF.AA., FF.PP)',
  94.0: 'Sin marca (ESSALUD)',
  95.0: 'Sin marca (MINSA)',
  96.0: 'Otro',
  98.0: 'No sabe'},
 'V325A': {9999995.0: 'Gratis', 9999998.0: 'No sabe'},
 'V326': {11.0: 'Hospital MINSA',
  12.0: 'Centro de salud MINSA',
  13.0: 'Puesto de salud MINSA',
  14.0: 'Promotor de salud MINSA',
  15.0: 'Hospital ESSALUD',
  16.0: 'PoliclÃ¬nico/Centro/Posta ESSALUD',
  17.0: 'Hospital/Otros de las FFAA & PNP',
  18.0: 'Hospital/Otro de la Municipalidad',
  19.0: 'Otro gobierno',
  21.0: 'ClÃ­nica particular',
  22.0: 'Farmacia/botica',
  23.0: 'Consultorio mÃ©dico particular',
  24.0: 'ClÃ­nica/Posta de ONG',
  25.0: 'Promotor de ONG',
  31.0: 'Tienda/supermercado/hostal',
  32.0: 'Hospital/Otro de la Iglesia',
  33.0: 'Amigos/parientes',
  95.0: 'AutomedicaciÃ³n',
  96.0: 'Otro',
  98.0: 'No sabe'},
 'V327': {1.0: 'Hospital, Centro de Salud, Puesto de Salud, PoliclÃ­nico del Gobierno',
  2.0: 'Promotor de Salud',
  3.0: 'ClÃ­nica/Posta/ Promotor ONG',
  4.0: 'ClÃ­nica/Consultorio mÃ©dico particular',
  5.0: 'Farmacia/botica',
  6.0: 'Tienda, iglesia, amigo',
  7.0: 'AutomedicaciÃ³n/Otro',
  8.0: 'No sabe',
  9.0: 'Otro gobierno'},
 'V337': {95.0: 'Todas cal {A core}',
  96.0: '96+ {B core}',
  997.0: 'Inconsistente',
  998.0: 'No sabe'},
 'V359': {1.0: 'PÃ­ldora',
  2.0: 'DIU',
  3.0: 'Inyecciones',
  4.0: 'Diafragma',
  5.0: 'CondÃ³n',
  6.0: 'EsterilizaciÃ³n femenina',
  7.0: 'EsterilizaciÃ³n masculina',
  8.0: 'Abstinencia periÃ³dica',
  9.0: 'Retiro',
  10.0: 'Otro',
  11.0: 'Norplant/Implantes',
  12.0: 'Abstinencia',
  13.0: 'Amenorrea por lactancia (MELA)',
  14.0: 'CondÃ³n femenino',
  15.0: 'Espuma, jalea, Ã³vulos (vaginales)',
  16.0: 'AnticoncepciÃ³n oral de emergencia',
  17.0: 'MÃ©todo especÃ­fico 1',
  18.0: 'MÃ©todo especÃ­fico 2',
  19.0: 'MÃ©todo especÃ­fico 3',
  20.0: 'MÃ©todo especÃ­fico 4'},
 'V360': {1.0: 'QuedÃ³ embarazada',
  2.0: 'QuerÃ­a quedar embarazada',
  3.0: 'Marido desaprobÃ³',
  4.0: 'Efectos secundarios',
  5.0: 'Motivos de salud',
  6.0: 'Acceso, disponibilidad',
  7.0: 'Deseaba mÃ©todo mÃ¡s efectivo',
  8.0: 'Uso inconveniente',
  9.0: 'Sexo poco frecuente/Marido ausente',
  10.0: 'Costo',
  11.0: 'Fatalista',
  12.0: 'Dificil quedar embarazda/menopausia',
  13.0: 'DisoluciÃ³n matrimonial',
  14.0: 'Otro',
  98.0: 'No sabe'},
 'V361': {1.0: 'Actualmente usando',
  2.0: 'Usado desde el Ãºltimo nacimiento',
  3.0: 'Usado antes del Ãºltimo nacimiento',
  4.0: 'Nunca usado'},
 'V362': {1.0: 'En los prÃ³ximos 12 meses',
  2.0: 'Usar mÃ¡s tarde',
  3.0: 'No estÃ¡ seguro sobre el momento',
  4.0: 'No estÃ¡ seguro sobre el uso',
  5.0: 'No tiene la intenciÃ³n',
  6.0: 'Nunca tuve relaciones sexuales'},
 'V363': {1.0: 'PÃ­ldora',
  2.0: 'DIU',
  3.0: 'InyecciÃ³n',
  4.0: 'Diafragma',
  5.0: 'CondÃ³n',
  6.0: 'EsterilizaciÃ³n femenina',
  7.0: 'EsterilizaciÃ³n masculina',
  8.0: 'Abstinencia periÃ³dica',
  9.0: 'Retiro',
  10.0: 'Otro',
  11.0: 'Norplant/Implantes',
  12.0: 'Abstinencia',
  13.0: 'Amenorrea por lactancia (MELA)',
  14.0: 'CondÃ³n femenino',
  15.0: 'Espuma, jalea, Ã³vulos (vaginales)',
  16.0: 'AnticoncepciÃ³n oral de emergencia',
  98.0: 'No sabe'},
 'V364': {1.0: 'Usando el mÃ©todo moderno',
  2.0: 'Usando el mÃ©todo tradicional',
  3.0: 'No-usuario tiene la intenciÃ³n de',
  4.0: 'No tiene la intenciÃ³n de',
  5.0: 'Nunca tuve relaciones sexuales'},
 'V367': {1.0: 'Entonces', 2.0: 'Esperar mÃ¡s', 3.0: 'No querÃ­a mÃ¡s'},
 'V372': {0.0: 'Paquete no visto', 1.0: 'Paquete visto'},
 'V372A': {0.0: 'Paquete no visto', 1.0: 'Paquete visto'},
 'V375A': {11.0: 'No casado',
  21.0: 'No tiene relaciones sexuales',
  22.0: 'Sexo poco frecuente',
  23.0: 'Menopausia',
  24.0: 'Infertilidad/Subfecundidad',
  25.0: 'Postparto/Lactancia',
  26.0: 'Quiere mÃ¡s hijas(os)',
  27.0: 'Embarazada',
  28.0: 'HisterectomÃ¬a',
  31.0: 'Entrevistada se opone',
  32.0: 'Esposo/compaÃ±ero se opuso',
  33.0: 'Otros se oponen',
  34.0: 'ProhibiciÃ³n religiosa',
  41.0: 'No conoce ningÃºn mÃ©todo',
  42.0: 'No conoce ninguna fuente',
  51.0: 'Problemas de salud',
  52.0: 'Miedo a efectos secundarios',
  53.0: 'Falta de acceso',
  54.0: 'Muy costoso',
  55.0: 'Uso inconveniente',
  56.0: 'Interfiere con procesos normales del cuerpo',
  96.0: 'Otro',
  98.0: 'No sabe'},
 'V376': {11.0: 'No casado',
  22.0: 'Sexo poco frecuente',
  23.0: 'MenopÃ¡usica/histerectomizada',
  24.0: 'Infertilidad mujer',
  25.0: 'Infertilidad hombre',
  26.0: 'Quiere mÃ¡s hijas(os)',
  31.0: 'Entrevistada se opone',
  32.0: 'Esposo/compaÃ±ero se opuso',
  33.0: 'Otros se oponen',
  34.0: 'ProhibiciÃ³n religiosa',
  41.0: 'No conoce ningÃºn mÃ©todo',
  42.0: 'No conoce ninguna fuente',
  51.0: 'Problemas de salud',
  52.0: 'Miedo a efectos secundarios',
  53.0: 'Falta de acceso',
  54.0: 'Muy costoso',
  55.0: 'Uso inconveniente',
  56.0: 'Interfiere con procesos normales del cuerpo',
  96.0: 'Otro',
  98.0: 'No sabe'},
 'V376A': {0.0: 'No', 1.0: 'Si', 8.0: 'No sabe'},
 'V379': {11.0: 'Hospital MINSA',
  12.0: 'Centro de salud MINSA',
  13.0: 'Puesto de salud MINSA',
  14.0: 'Trabajadora sanitaria MINSA',
  15.0: 'Hospital ESSALUD',
  16.0: 'Centro/Correo ESSALUD',
  17.0: 'CampaÃ±a/feria',
  18.0: 'Otro gobierno',
  21.0: 'ClÃ­nica privada',
  22.0: 'Farmacia',
  23.0: 'MÃ©dico privado',
  24.0: 'ClÃ­nica/FP post ONG',
  25.0: 'ONG de trabajadores de la salud',
  31.0: 'Tienda/supermercado',
  32.0: 'Iglesia',
  33.0: 'Amigos/parientes',
  95.0: 'AutomedicaciÃ³n',
  96.0: 'Otro',
  98.0: 'No sabe'},
 'V380': {1.0: 'Govt Clinical/Pharm',
  2.0: 'Casa de Gobierno/Comm liv',
  3.0: 'ONG',
  4.0: 'Private Clin/Deliv',
  5.0: 'Farmacia Privada',
  6.0: 'Tienda, iglesia, amigo',
  7.0: 'Otro',
  8.0: 'No sabe'}}

In [12]:
print("\nrec3_1:")
display(rec3_1.head())
print("\nnew_var_labels3:")
display(new_var_labels3)
print("\nnew_value_labels3:")
display(new_value_labels3)

rec3_1:

,CASEID,V501,V502,V503,V504,V505,V506,V507,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,1.0,1.0,1.0,1.0,NaN,NaN,1.0,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,000102801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
2,000102801 6,5.0,2.0,1.0,NaN,NaN,NaN,8.0,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
3,000104801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0
4,000113601 2,2.0,1.0,2.0,1.0,NaN,NaN,12.0,2005.0,1272.0,1.0,17.0,13.0,3.0,15.0,2.0,1.0,16.0

new_var_labels3:

{'CASEID': 'ID1',
 'V501': 'CASEID',
 'V502': 'V501',
 'V503': 'V502',
 'V504': 'V503',
 'V505': 'V504',
 'V506': 'V505',
 'V507': 'V506',
 'V508': 'V507',
 'V509': 'V508',
 'V510': 'V509',
 'V511': 'V510',
 'V512': 'V511',
 'V513': 'V512',
 'V525': 'V513',
 'V613': 'V525',
 'V714': 'V527',
 'V715': 'V528'}

new_value_labels3:

{'CASEID': {},
 'V501': {0.0: 'Nunca casada',
  1.0: 'Casado',
  2.0: 'Viviendo juntos',
  3.0: 'Viuda',
  4.0: 'Divorciada',
  5.0: 'No viven juntos'},
 'V502': {0.0: 'Nunca casada',
  1.0: 'Actualmente casada',
  2.0: 'Anteriormente casada'},
 'V503': {1.0: 'Una vez', 2.0: 'Mas de una vez'},
 'V504': {1.0: 'Vive con ella', 2.0: 'Vive en otro sitio'},
 'V505': {0.0: 'No otras esposas', 98.0: 'No sabe'},
 'V506': {98.0: 'No sabe'},
 'V507': {},
 'V508': {},
 'V509': {},
 'V510': {1.0: 'Tiene mes y aÃ±o',
  2.0: 'Tiene mes y edad - imputa aÃ±o',
  3.0: 'Tiene aÃ±o y edad - imputa mes',
  5.0: 'Tiene aÃ±o - imputa mes',
  6.0: 'Tiene edad - imputa mes aÃ±o',
  7.0: 'Tiene mes - imputa aÃ±o',
  8.0: 'Ninguno - imputa todo'},
 'V511': {},
 'V512': {},
 'V513': {0.0: 'Nunca casada',
  1.0: 'De 0 a 4 aÃ±os',
  2.0: 'De 5 a 9 aÃ±os',
  3.0: 'De 10 a 14 aÃ±os',
  4.0: 'De 15 a 19 aÃ±os',
  5.0: 'De 20 a 24 aÃ±os',
  6.0: 'De 25 a 29 aÃ±os',
  7.0: 'De 30 a mÃ¡s aÃ±os'},
 'V525': {0.0: 'Nunca tuvo relaciones sexuales', 96.0: 'En la primera union'},
 'V613': {96.0: 'Respuesta no numÃ©rica'},
 'V714': {0.0: 'No', 1.0: 'SÃ­'},
 'V715': {98.0: 'No sabe'}}

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [13]:
# Task 3
# Generate a new column 'year' in rec1_1 with the value 2019
rec1_1['year'] = 2019

# Update variable labels for 'year' in new_var_labels1
new_var_labels1['year'] = 'Year of the survey'

# Display the updated rec1_1 and new_var_labels1
print("Updated rec1_1:")
display(rec1_1.head())

print("\nUpdated new_var_labels1:")
display(new_var_labels1)

Updated rec1_1:

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V102,V120,V121,V122,V123,V124,V125,V127,V133,year
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,16.0,2019
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,6.0,2019
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,16.0,2019
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,4.0,2019
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,1.0,2019

Updated new_var_labels1:

{'CASEID': 'ID1',
 'V000': 'HHID',
 'V001': 'CASEID',
 'V002': 'V001',
 'V003': 'V002',
 'V004': 'V003',
 'V007': 'V004',
 'V008': 'V007',
 'V009': 'V008',
 'V010': 'V009',
 'V011': 'V010',
 'V012': 'V011',
 'V024': 'V012',
 'V102': 'V013',
 'V120': 'V014',
 'V121': 'V015',
 'V122': 'V017',
 'V123': 'V018',
 'V124': 'V019',
 'V125': 'V019A',
 'V127': 'V020',
 'V133': 'V021',
 'year': 'Year of the survey'}

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [14]:
# Task 4
# Merge rec1_1, rec2_1, and rec3_1 using CASEID
endes_2019 = pd.merge(rec1_1, rec2_1, on='CASEID')
endes_2019 = pd.merge(endes_2019, rec3_1, on='CASEID')

# Display the merged DataFrame
print("Merged DataFrame (endes_2019):")
display(endes_2019.head())

Merged DataFrame (endes_2019):

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
2,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
3,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0
4,000113601 2,PE6,1.0,136.0,2.0,1.0,2019.0,1434.0,11.0,1988.0,...,2005.0,1272.0,1.0,17.0,13.0,3.0,15.0,2.0,1.0,16.0

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

In [15]:
# Define new_var_labels and new_value_labels
new_var_labels1 = {'CASEID': 'ID1', 'V000': 'HHID', 'V001': 'CASEID', 'V002': 'V001',}
new_var_labels2 = {'CASEID': 'ID1', 'V201': 'CASEID', 'V218': 'V201', 'V301': 'V202',}
new_var_labels3 = {'CASEID': 'ID1', 'V501': 'CASEID', 'V502': 'V501', 'V503': 'V502',}

new_value_labels1 = {'CASEID': {}, 'V000': {},}
new_value_labels2 = {'CASEID': {}, 'V201': {},}
new_value_labels3 = {'CASEID': {}, 'V501': {0.0: 'Nunca casada', 1.0: 'Casado',},}

# Unify new_var_labels
var_labels = {}
var_labels.update(new_var_labels1)
var_labels.update(new_var_labels2)
var_labels.update(new_var_labels3)

# Unify new_value_labels
value_labels = {}
value_labels.update(new_value_labels1)
value_labels.update(new_value_labels2)
value_labels.update(new_value_labels3)

# Create an empty dictionary for endes_2019
endes_2019 = {}

# Assign var_labels and value_labels attributes
endes_2019['var_labels'] = var_labels
endes_2019['value_labels'] = value_labels

6. Get the min, max, sd, n_obs, n_missing for the following columns **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)**. We want a dataframe with the following columns **Variables, Min, Max, Mean, N_obs, N_missing** and sort by the number of missing rows. **Hint: Use `describe` and `pivot` methods**

In [16]:
# Reload display(endes_2019.head())
# Merge rec1_1, rec2_1, and rec3_1 using CASEID
endes_2019 = pd.merge(rec1_1, rec2_1, on='CASEID')
endes_2019 = pd.merge(endes_2019, rec3_1, on='CASEID')

# Display the merged DataFrame
print("Merged DataFrame (endes_2019):")
display(endes_2019.head())

Merged DataFrame (endes_2019):

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
2,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
3,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0
4,000113601 2,PE6,1.0,136.0,2.0,1.0,2019.0,1434.0,11.0,1988.0,...,2005.0,1272.0,1.0,17.0,13.0,3.0,15.0,2.0,1.0,16.0

In [17]:
import pandas as pd

# Assuming endes_2019 is your DataFrame
# Extract the specified columns
selected_columns = ['V201', 'V613', 'V715', 'V511']
df_selected = endes_2019[selected_columns]

# Compute summary statistics using describe
summary_stats = df_selected.describe().transpose()

# Count missing values
n_missing = df_selected.isnull().sum()

# Create a DataFrame with summary statistics and count of missing values
result_df = pd.DataFrame({
    'Variables': summary_stats.index,
    'Min': summary_stats['min'],
    'Max': summary_stats['max'],
    'Mean': summary_stats['mean'],
    'N_obs': summary_stats['count'],
    'N_missing': n_missing
})

# Sort by the number of missing rows
result_df = result_df.sort_values(by='N_missing', ascending=False)

# Display the result
print(result_df)

     Variables   Min   Max       Mean    N_obs  N_missing
V715      V715   0.0  98.0  11.624474  25881.0       7430
V511      V511  10.0  48.0  20.463738  25881.0       7430
V201      V201   0.0  13.0   1.975113  33311.0          0
V613      V613   0.0  96.0   2.455345  33311.0          0

7. Use `endes_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

In [18]:
import pandas as pd

# Assuming endes_2019 is your DataFrame

# Convert columns with binary answers from strings to integers
binary_columns = ['V201', 'V613', 'V715', 'V511']
endes_2019[binary_columns] = endes_2019[binary_columns].replace({'No': 0, 'Si': 1})

# Group by 'year' and 'department (V024)' and calculate the mean for each variable
grouped_mean = endes_2019.groupby(['year', 'V024']).agg({
    'V201': 'mean',
    'V613': 'mean',
    'V715': 'mean',
    'V511': 'mean'
}).reset_index()

# Rename the columns
grouped_mean.columns = ['year', 'V024', 'mean_total_children', 'mean_ideal_children', 'mean_hb_yr_educ', 'mean_first_marriage']

# Create the new DataFrame mean_key_vars
mean_key_vars = grouped_mean

# Display the result
print(mean_key_vars)

    year  V024  mean_total_children  mean_ideal_children  mean_hb_yr_educ  \
0   2019   1.0             2.257258             2.519355         9.611379
1   2019   2.0             1.962996             2.383260        11.789534
2   2019   3.0             2.268627             2.391176        11.063779
3   2019   4.0             1.653193             2.441390        13.714898
4   2019   5.0             2.052257             2.209026        11.285419
5   2019   6.0             2.180258             2.545923         9.759358
6   2019   7.0             1.696154             2.313846        13.327586
7   2019   8.0             2.109815             2.100097        11.195938
8   2019   9.0             2.364774             4.008662        11.008974
9   2019  10.0             2.252900             2.591647         9.902874
10  2019  11.0             1.823175             2.494357        12.350254
11  2019  12.0             2.034834             2.199660        11.221154
12  2019  13.0             1.896188             2.431468        10.758584
13  2019  14.0             1.836445             3.168783        11.550098
14  2019  15.0             1.608636             2.277727        13.115052
15  2019  16.0             2.493190             2.476703        10.109375
16  2019  17.0             2.202166             2.526173        12.405550
17  2019  18.0             1.752089             2.052925        12.964120
18  2019  19.0             2.080193             2.526570        12.595635
19  2019  20.0             2.015672             2.681343        11.730695
20  2019  21.0             1.977733             2.119433        11.174870
21  2019  22.0             2.100392             2.493333         9.705545
22  2019  23.0             1.544563             2.013083        12.815937
23  2019  24.0             1.938121             2.469824        11.856468
24  2019  25.0             2.290015             2.388399        10.788566

    mean_first_marriage
0             19.266152
1             20.591581
2             20.064982
3             22.304394
4             20.340228
5             19.610695
6             21.517241
7             20.283154
8             19.780769
9             19.818632
10            20.747208
11            20.683761
12            20.774678
13            20.953831
14            21.946329
15            18.448529
16            19.467449
17            21.640046
18            20.395379
19            20.451737
20            20.398964
21            18.953155
22            22.065095
23            19.409821
24            18.985481

8. Reshape `mean_key_vars` from wide to long. We want a dataframe with three columns **dpto, variables, values**. Name this object as `reshape_mean_key_vars`. **Hint: Use melt method**.

In [19]:
# Use 'melt' to transform the DataFrame to long format
reshape_mean_key_vars = pd.melt(mean_key_vars, id_vars=['year', 'V024'], 
                                var_name='variables', value_name='values')
#id_vars are the columns that will remain unchanged
#var_name is the name of the new column that will contain the variable names
#value_name is the name of the new column that will contain the values associated with those variables

# Rename the columns
reshape_mean_key_vars.columns = ['year', 'dpto', 'variables', 'values']

# result
print(reshape_mean_key_vars)

    year  dpto            variables     values
0   2019   1.0  mean_total_children   2.257258
1   2019   2.0  mean_total_children   1.962996
2   2019   3.0  mean_total_children   2.268627
3   2019   4.0  mean_total_children   1.653193
4   2019   5.0  mean_total_children   2.052257
..   ...   ...                  ...        ...
95  2019  21.0  mean_first_marriage  20.398964
96  2019  22.0  mean_first_marriage  18.953155
97  2019  23.0  mean_first_marriage  22.065095
98  2019  24.0  mean_first_marriage  19.409821
99  2019  25.0  mean_first_marriage  18.985481

[100 rows x 4 columns]

9. Replicate your answers for questions 7 and 8, but in one line of code. Make it the most simple as possible. **NO HINT**

In [20]:
# .replace({'No': 0, 'Yes': 1}): Replaces the values 'No' with 0 and 'Yes' with 1
# .groupby(['year', 'V024']): Groups the resulting DataFrame by the 'year' and 'V024' (department) columns.
# .agg({'V201': 'mean', 'V613': 'mean', 'V715': 'mean', 'V511': 'mean'}): Calculates the mean for the specified columns ('V201', 'V613', 'V715', 'V511') within each group.
# .reset_index(): Resets the index after clustering to get a flat DataFrame.
# .melt: Applies the melt function to convert the DataFrame from wide to long format
# .rename(columns={'V024': 'dept'}): Renames column 'V024' to 'dept', according to the specifications.

reshape_mean_key_vars = pd.melt(
    endes_2019.replace({'No': 0, 'Si': 1}).groupby(['year', 'V024']).agg({'V201': 'mean', 'V613': 'mean', 'V715': 'mean', 'V511': 'mean'}).reset_index(),
    id_vars=['year', 'V024'],
    var_name='variables',
    value_name='values'
).rename(columns={'V024': 'dpto'})
reshape_mean_key_vars

    year  dpto variables     values
0   2019   1.0      V201   2.257258
1   2019   2.0      V201   1.962996
2   2019   3.0      V201   2.268627
3   2019   4.0      V201   1.653193
4   2019   5.0      V201   2.052257
..   ...   ...       ...        ...
95  2019  21.0      V511  20.398964
96  2019  22.0      V511  18.953155
97  2019  23.0      V511  22.065095
98  2019  24.0      V511  19.409821
99  2019  25.0      V511  18.985481

[100 rows x 4 columns]

10. Merge `reshape_mean_key_vars` with `endes_2019`. Name this object `final_result`. **Hint: Use merge.**

In [21]:
# we do a merge using only the 'year', since there is no 'dpto' in the ENDES
final_result = pd.merge(endes_2019, reshape_mean_key_vars, how='left', on=['year'])
final_result

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V511,V512,V513,V525,V613,V714,V715,dpto,variables,values
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,21.0,11.0,3.0,17.0,2.0,1.0,11.0,1.0,V201,2.257258
1,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,21.0,11.0,3.0,17.0,2.0,1.0,11.0,2.0,V201,1.962996
2,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,21.0,11.0,3.0,17.0,2.0,1.0,11.0,3.0,V201,2.268627
3,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,21.0,11.0,3.0,17.0,2.0,1.0,11.0,4.0,V201,1.653193
4,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,21.0,11.0,3.0,17.0,2.0,1.0,11.0,5.0,V201,2.052257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3331095,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,16.0,6.0,2.0,15.0,2.0,0.0,11.0,21.0,V511,20.398964
3331096,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,16.0,6.0,2.0,15.0,2.0,0.0,11.0,22.0,V511,18.953155
3331097,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,16.0,6.0,2.0,15.0,2.0,0.0,11.0,23.0,V511,22.065095
3331098,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,16.0,6.0,2.0,15.0,2.0,0.0,11.0,24.0,V511,19.409821
3331099,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,16.0,6.0,2.0,15.0,2.0,0.0,11.0,25.0,V511,18.985481